<template>
    <div class="outerContent">
        <div class="firstRow">
            <h2 class="main">Zootiere</h2>
            <div class="link"><a href="https://www.restplatzboerse.at/"><h4>Alle</h4></a></div>
        </div>
        <h4 class="subHeader">Zufällige Auswahl an Zootieren</h4>
    </div>
</template>

<script>
export default {
    name: 'HeaderComponent'
}
</script>

<style>
.outerContent {
    margin: 136px 0px 25px 19px;
}

.firstRow {
    display: flex;
    justify-content: space-between;
}

.main {
    width: 269px;
    margin: 0px 0px 1px 0px;
    padding: 0px;
    font-family: QuickSandBold;
    color: #16828F;
}

.link {
    width: 27px;
    height: 22px;
    margin: 7px 16px 0 0; 
}

.link a {
    text-decoration: none;
    font-family: OpenSansRegular;
    color: #16828F;
   
}

.subHeader {
    width: 275px;
    height: 22px;
    margin: 0px 81px 25px 0px;
    font-family: OpenSansRegular;
    color: #525252;
}
</style>