<template>
  <ul class="contentBox">
    <li v-for="(data,index) in $store.state.zoodata" :key="index">
      <a class="clickSlide" href="#">
        <img :src="data.image_link" :alt="data.name">
        <div class="text">
          <h4 class="name">{{data.name}}</h4>
          <div class="weight">
            <span class="weightText">bis zu</span>
            <h4 class="weightNumber">{{data.weight_max}}</h4>
            <span class="weightText">kg</span>
          </div>
        </div>
      </a>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'ImageSliderComponent',

  async mounted() {
    this.$store.dispatch('loadZooData')
  }
}
</script>

<style>
@font-face {
  font-family: QuickSandBold;
  src: url(../fonts/Quicksand-Bold.ttf);
}

@font-face {
  font-family: OpenSansRegular;
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSansBold;
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: OpenSansSemiBold;
  src: url(../fonts/OpenSans-SemiBold.ttf);
}

.contentBox {
  display: flex;
  padding: 0 0 2px 2px;
  margin-left: 19px;
  box-shadow: inset -23px 0 23px -7px #FFFFFF;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
}

.text {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  height: 43px;
  position: relative;
  z-index: -1;
}

.name {
  height: 22px;
  margin: 8px 0px 13px 12px;
  padding: 0px;
  font-size: 16px;
  font-family: OpenSansBold;
  color: #16828F;
  text-overflow: ellipsis;
  overflow: hidden;
}

.weight {
  height: 22px;
  margin: 8px 13.31px 0px 0px;
  font-family: OpenSansSemiBold;
  color: #A11A79;
}

.weightText {
  font-size: 12px;
  font-family: OpenSansRegular;
}

.contentBox li {
  margin: 0px 20px 0px 0px;
  border-radius: 10px;
  box-shadow: -2px 2px #D9E15F;
  width: 70vw;
  flex-shrink: 0;
}

@media (min-width: 700px) {
  .contentBox li {
    width: 45vw;
  }
}

@media(min-width: 900px) {
  .contentBox li {
    width: 30vw;
  }
}

img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  position: relative;
  z-index: -1;
}

.clickSlide {
  display: block;
  text-decoration: none;
}

.weightNumber{
  display: inline;
  padding: 0px;
  margin: 0px 3px 0px 3px;
}
</style>
