<template>
  <HeaderComponent></HeaderComponent>
  <ImageSliderComponent></ImageSliderComponent>
</template>

<script>
import ImageSliderComponent from './components/ImageSliderComponent.vue';
import HeaderComponent from './components/HeaderComponent.vue';

export default {
  name: 'App',
  components: {
    ImageSliderComponent,
    HeaderComponent
  }
}
</script>